


<section class="py-8">
  <div class="mx-auto px-4 sm:px-6 h-full w-full lg:max-w-7xl lg:px-8 grid grid-cols-1 md:grid-cols-2 gap-8">
    
    <img
      class="mx-auto h-full w-full rounded-3xl"
      width="2160"
      src="/works/hero-tsd.webp"
      alt="Expert Gold Coast web designer - web design at competitive rates."
   />

   <img
      class="mx-auto h-full w-full rounded-3xl"
      width="2160"
      src="/works/hero-estem.webp"
      alt="Expert Gold Coast web designer - web design at competitive rates."
   />
      
  </div>
</section>


