
<!-- SVG CSS and Animate for Aidxn Moving Logo -->
<style>
  .carousel-cell {
  width: 45%;
  margin-right: 15px;
}
@media screen and ( max-width: 960px ) {
  .carousel-cell {
    width: 66%;
  }
}

.carousel-cell.size-sqr { width: 340px; }
@media screen and ( max-width: 960px ) {
  .carousel-cell.size-sqr {
    width: 41%;
  }
}
.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

* { box-sizing: border-box; }

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
}


  /* position dots up a bit */
  .flickity-page-dots {
    bottom: -22px !important;
  }
  /* dots are lines */
  .flickity-page-dots .dot {
    height: 4px !important;
    width: 40px !important;
    margin: 0 !important;
    border-radius: 0 !important;
  }

  .flickity-viewport {
    transition: 0.2s;
  }
</style>

<section class="py-8">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    
      <div class="carousel" data-flickity='{ "contain": true, "freeScroll": true, "adaptiveHeight": true, "pageDots": false, "prevNextButtons": false, "lazyLoad": true }'>
        <div class="carousel-cell">
          <img
            class="h-auto w-full rounded-3xl"
            width="1280"
            height="640"
            src="/works/br-bus.webp"
            alt="Gold Coast web design with Aidxn Design - best results guarenteed"
          />
        </div>
        <div class="carousel-cell bg-contain">
          <img
            class="h-auto w-full rounded-3xl"
            width="1280"
            height="640"
            src="/works/br-bill.webp"
            alt="Gold Coast web design with Aidxn Design - best results guarenteed"
          />
        </div>
        <div class="carousel-cell bg-cover">
          <img
            class="h-auto w-full rounded-3xl"
            width="1280"
            height="640"
            src="/works/br-re.webp"
            alt="Gold Coast web design with Aidxn Design - best results guarenteed"
          />
        </div>
        <div class="carousel-cell">
          <img
            class="h-auto w-full rounded-3xl"
            width="1280"
            height="640"
            src="/works/br-wth.webp"
            alt="Gold Coast web design with Aidxn Design - best results guarenteed"
          />
        </div>
        
      </div>
      <div class="my-8">
        <a
          href="/moonshot-plan"
          class="mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Moonshot Plan
        </a>
        <a
          href="/contact"
          class="mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Contact
        </a>
      </div>
  </div>
</section>

<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


